@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Zmaja od Bosne bb<br />
    Sarajevo, Bosnia and Herzegovina<br />
    
</address>

<address>
    <strong>Our team:</strong><br />   <a href="mailto:agobeljic1@etf.unsa.ba">agobeljic1@etf.unsa.ba</a><br />
    <strong>         </strong> <a href="mailto:amra997@live.com">amra997@live.com</a><br />
    <strong>         </strong> <a href="mailto:mhadzic5@etf.unsa.ba">mhadzic5@etf.unsa.ba</a>
</address>

