@using OnlineVideotekaFenixASPNET.Models
@model SearchResultsMovieViewModel
@{
    ViewBag.Title = "Movies";
}


<h2>Movies</h2>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.ListaFilmova)
            {
                <tr>
                    <td>@Html.ActionLink(movie.NazivFilma, "FilmOverview", "Movies", new {id=movie.Id.ToString()}, null)</td>
                </tr>
            }
        </tbody>
    </table>

