@using OnlineVideotekaFenixASPNET.Models
@model SearchResultsUserViewModel
@{
    ViewBag.Title = "Users";
}


<h2>Users</h2>
@if (Model.ListaKorisnika.Count == 0)
{
    <p>Your search query ended with no results</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>User</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var user in Model.ListaKorisnika)
        {
            <tr>
                <td>@Html.ActionLink(user.ImePrezime, "YourProfile", "Users", new { id = user.Id.ToString() }, null)</td>
            </tr>
        }
        </tbody>
    </table>
}
