@using OnlineVideotekaFenixASPNET.Models
<br/>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <section id="searchMovieForm">
            @Html.Partial("_SearchMoviePartial", new SearchMovieViewModel { })
        </section>
    </div>

    <div class="col-md-6">
        <section id="searchUserForm">
            @Html.Partial("_SearchUserPartial", new SearchUserViewModel { })
        </section>
    </div>
</div>









